html {
	background: lightgrey;
}
body {
	background: linear-gradient(180deg,#fafafa,#cfd8dc);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	background-color:rgba(168, 206, 226, 0.2);
}

img{
	border: 0;
	width: 50px;
	height: 50px;
}
h1{
	line-height: 160%;
	margin:0;
	font-size:inherit;

}
.btn {
	background-color: #287bb7;
}

.btn:hover {
	background-color: #73b9ec;
}

.waves-effect waves-light btn-large {
	background-color: #287bb7;
}

.waves-effect waves-light btn-large:hover {
	background-color: #73b9ec;
}

.container {
	height: 100%;
}


#LP_register_button {
	float: right;
	bottom: 57px;
	position: relative;
}

#RP_register_button {
	margin: 0px 0px 0px 200px;

}

#home_buttons {
	height: 44px;
	width: 300px;
	line-height: 44px;
	margin:0 30px;
}

@media only screen and (min-width: 993px) {
	/*Login Screen*/
	.container {
		width: inherit;
		max-width: 600px;
	}
}
@media only screen and (min-width: 601px) {
	/*Login Screen*/
	.container {
		width: 70%;
		max-width: 600px;
	}
}

#login_page {
	border-radius: 12px;
	border: 1px solid;
	border-color: lightgrey;
	background-color: white;
	padding: 25px;
	margin-top: 30%;
}

#login_page input, #register_page input {
	width: 75%;
	margin: 0 10% 3% 10%;
}

#register_page {
	border-radius: 12px;
	border: 1px solid;
	border-color: lightgrey;
	background-color: white;
	padding: 25px;
	margin-top: 30%;
}

#home_page {
	border-radius: 12px;
	border: 1px solid;
	border-color: lightgrey;
	background-color: white;
	padding: 25px;
	width: 800px;
	margin: 50px -100px;
}

footer.page-footer{
	margin-top: 0;
	box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#combined_dashboard td {
	padding: 5px 5px;
}


input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
textarea.materialize-textarea {
	width: 90%;
	margin: 0;
	height: 2rem;
}


/*Navigation Bar*/
/*==================*/
#nav_bar {
	background: linear-gradient(180deg,#287bb7,rgba(2,136,209,.95));
	color: white;
}

#login_name {
	padding: 0px 35px;
	font-size: large;
}

.dropdown-content li>a,
.dropdown-content li>span {
	text-align: center;
	color: #287bb7;
}

ul #dropdown1 {
	width: 160px;
	left: 1752px;
}

a.brand-logo {
	display: inline-flex;
	padding: 7px;
}

nav i.material-icons {
	line-height: inherit;
	height: inherit;
}

/* Dashboard - top section ==================*/
#save_input {
	margin:;
	float:right;
}

#Analysis_Start_Date_text{
	margin:0;
}

.modal .modal-content{
	padding: 4%;
}

#modal1 {
	width: 400px;
	height: 200px;
}

/*Div tag that encompasses Modal save button and Analysis Start Date input*/
#save_modal{
	margin: 1% 1.5% .5% 1.5%;
}

/*input box*/
#Analysis_Start_Date {
	width:10%;
	position: relative;
	left: 20px;
	color: ;
}

/*h6 header text*/
#Analysis_Start_Date_text {
	left: 20px;
}
/* END ==== Dashboard - top section ==================*/


table {
  /*border-collapse: separate;*/
  /*border-collapse:collapse;*/
  background:#fff;
  margin:25px auto;
  width:100%;
  table-layout:fixed;
}
.collapsible{
	margin:0;
}

.collapsible-header {
	font-size:18px;
	font-weight:400;
	color:#fff;
	@include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
	text-align:left;
	background: linear-gradient(180deg,#263238,#455a64);
	border-top:1px solid #858d99;
}


thead th {
	font-size:16px;
	font-weight:400;
	color:#fff;
	@include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
	text-align:left;
	padding:8px;
	background: linear-gradient(180deg,#9e9e9e,#455a64);
	border-top:1px solid #858d99;

}
th.picker__weekday{
	background: white;
}
.picker__weekday-display{
	background-color: #287bb7;
}
.picker__date-display{
	background: linear-gradient(180deg,#287bb7,#287bb0);
}


.table_header {
	@extend thead th;
	background: linear-gradient(180deg,#9e9e9e,#455a64);
	font-size: 120%;
	padding: 12px;
}


tr.PF_Net_Operating_Income,
tr.PF_Net_Cash_Flow,
tr.PF_Total_Operating_Expenses,
tr.PF_Net_Rental_Income,
tr.PF_Gross_Rental_Income {
	background-color: lightgrey;
}

.PFHeader{
	font-size: 22px;
	text-decoration: underline;
}

/*Dashboard > RRA add button */
#rental_rate_form{
	float: right;
	margin-right: 20%;
}

/*==================*/

#Property_Information tbody td:nth-child(1) {
	width: 70%;
}
#Property_Information tbody td:nth-child(2) {
	width: 30%;
}
/*==================*/


footer.page-footer {
	padding: 0;
}

.footer-copyright {
	padding-left: 1%;
}
