body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	background-color:rgba(168, 206, 226, 0.2);
}

/*Blue color*/
.btn {
	background-color: #287bb7;
}

/*Lighter blue color*/
.btn:hover {
	background-color: #73b9ec;
}

.waves-effect waves-light btn-large {
	background-color: #287bb7;
}

.waves-effect waves-light btn-large:hover {
	background-color: #73b9ec;
}

.container {
	margin: 150px auto;
}


#LP_register_button {
	float: right;
	bottom: 57px;
	position: relative;
}

#RP_register_button {
	margin: 0px 0px 0px 200px;

}

#home_buttons {
	height: 44px;
	width: 300px;
	line-height: 44px;	
}

@media only screen and (min-width: 993px) {
	/*Login Screen*/
	.container {
		width: inherit;
		max-width: 600px;
	}
}
@media only screen and (min-width: 601px) {
	/*Login Screen*/
	.container {
		width: 70%;
		max-width: 600px;
	}
}

#login_page {
	border-radius: 12px;
	border: 1px solid;
	border-color: lightgrey;
	background-color: white;
	padding: 25px;
	height: 380px;
}

#login_page input, #register_page input {
	width: 75%;
	margin: 0px 60px 30px 60px;
}

#register_page {
	border-radius: 12px;
	border: 1px solid;
	border-color: lightgrey;
	background-color: white;
	padding: 25px;
	height: 400px;
}


footer.page-footer{
	margin-top: 0;
	box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#combined_dashboard td, #combined_dashboard th {
	padding: 5px 5px;
}


input:not([type]), 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=time], 
input[type=date], 
input[type=datetime],
input[type=datetime-local], 
input[type=number], 
textarea.materialize-textarea {
	width: 90%;
	margin: 0;
	height: 2rem;
}

.dropdown-content li>a, 
.dropdown-content li>span {
	text-align: center;
}

#dropdown1 .dropdown-content {
	width: 160px;
	left: 1752px;
}

#save_input {
	margin: 10px 25px 20px 20px;	
}

/*input box*/
#Analysis_Start_Date {
	width:10%;
	position: relative;
	left: 20px;
	color: blue;
}

/*h6 header text*/
#Analysis_Start_Date_text {
	position: relative;
	left: 20px;
}



table {
  border-collapse: separate;
  background:#fff;
  /*@include border-radius(5px);*/
  margin:25px auto;
  
}

.collapsible-header,
thead th {
  font-size:16px;
  font-weight:400;
  color:#fff;
  @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
  text-align:left;
  padding:20px;
  background: linear-gradient(#646f7f, #4a5564);
  border-top:1px solid #858d99;
  }

 body {
  background:lightgrey;
}