html{

}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	background-color:rgba(168, 206, 226, 0.2);
}

/*Blue color*/
.btn {
	background-color: #287bb7;
}

/*Lighter blue color*/
.btn:hover {
	background-color: #73b9ec;
}

.waves-effect waves-light btn-large {
	background-color: #287bb7;
}

.waves-effect waves-light btn-large:hover {
	background-color: #73b9ec;
}

#register_button_alignment {
	float: right;
	bottom: 57px;
	position: relative;
}

#home_buttons {
	height: 44px;
	width: 300px;
	line-height: 44px;	
}

@media only screen and (min-width: 993px) {
	/*Login Screen*/
	.container {
		width: inherit;
		max-width: 600px;
	}
}
@media only screen and (min-width: 601px) {
	/*Login Screen*/
	.container {
		width: 70%;
		max-width: 600px;
	}
}
.container {
	margin: 150px auto;
}

#login_border_bg {
	border-radius: 12px;
	border: 1px solid #ffffff;
	background-color: white;
	padding: 25px;
	height: 380px;
}
