<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<!-- ================ Top Header/nav bar ================ -->
{% if session['logged_in'] == True %}
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/home">Home</a></li><li class="divider"></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
{% endif %}
<div class= 'navbar-fixed'>
	<nav class = 'nav-wrapper' id ='nav_bar'>
			<a href="/" class="brand-logo">
				<h1>Columbia MSRED</h1>
			</a>
		<ul class="right hide-on-med-and-down">
{% if session['logged_in'] == True %}
			<li id = 'login_name'>{{session.firstname}}</li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">view_headline</i></a></li>
{% endif %}
		</ul>
	</nav>
</div>

<header>{% block header %}{% endblock header %}</header>
<!-- ================ Main body content ================ -->
<main>
	{% block content %}
	<div id = 'combined_dashboard'>
		<article id = 'block_org_dashboard'>
			{% block dashboard %}{% endblock dashboard %}
		</article>
		<article id = 'block_proforma'>
			{% block proforma %}{% endblock proforma %}
		</article>
		<article id = 'block_returnssummary'>
			{% block returns_summary %}{% endblock returns_summary %}
		</article>
	</div>
	{% endblock content %}
</main>



<!-- ==================== Footer ==================== -->
<footer class="page-footer" id = 'nav_bar'>
	<div class="footer-copyright">© 2017 Columbia University</div>
</footer>


<!-- ==================== Scripts ==================== -->
<script src="{{ url_for('static', filename='js/libraries/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libraries/materialize.min.js') }}"></script>
<script type="text/javascript" src='/static/js/libraries/finance.js'></script>
<script type="text/javascript" src='/static/js/jquery_activates.js'></script>
<script type="text/javascript" src='/static/js/myapp.js'></script>
<script type="text/javascript" src='/static/js/utilities.js'></script>
<script type="text/javascript" src='/static/js/htmlgen.js'></script>
<script type="text/javascript" src='/static/js/dashboard_calculations.js'></script>
<script type="text/javascript" src='/static/js/MRAinput.js'></script>
<script type="text/javascript" src='/static/js/RRAinput.js'></script>
<script type="text/javascript" src='/static/js/proforma.js'></script>
<script type="text/javascript" src='/static/js/returns_summary.js'></script>
<script type="text/javascript" src='/static/js/save_update_ajax.js'></script>
<script type="text/javascript" src='/static/js/main.js'></script>

</body>
</html>
