{% extends "base.html" %}

{%block header%}
  <h6>Analysis Start Date <span style="color:blue">1/1/2017</span></h6>
{%endblock header%}

{%block tables%}
<form name = "dashboard" action="/dashboard" method="POST">
  <table id="Property_Information" class="center">
    <tr>
      <th>PROPERTY INFORMATION</th>
    </tr>
    <tr>
      <td>Property Name</td>
      <td><input type="text" name="Property_Name" placeholder = "Property Name"></td>
    </tr>
    <tr>
      <td>Property Location</td>
      <td><input type="text" name="Property_Address" placeholder = "Property Address"></td>
    </tr>
    <tr>
      <td>Property Type</td>
      <td><input type="text" name="Property_Type" placeholder = "Property Type"></td>
    </tr>
    <tr>
      <td>Number of Units</td>
      <td>{{Num_Units}}</td>
    </tr>
    <tr>
      <td>Total Square Feet</td>
      <td>{{Total_Sq_Ft}}</td>
    </tr>
  </table>


  <table id = "Purchase_Information">
    <tr>
      <th>PURCHASE INFORMATION</th>
    </tr>
    <tr>
      <td>Purchase Price</td>
      <td>&nbsp;</td>
      <td><input type="text" name="Purchase_Price" placeholder = "Purchase Price ($)"></td>
    </tr>
    <tr>
      <td>Closing Costs</td>
      <td><input type="text" name="Closing_Costs" placeholder = "Closing Costs (%)"></td>
      <td>{{Closing_Costs}}</td>
    </tr>
    <tr>
      <td>Total Costs</td>
      <td>&nbsp;</td>
      <td>{{Total_Costs}}</td>
    </tr>
    <tr>
      <td>Purchase Cost Per Unit</td>
      <td>&nbsp;</td>
      <td>{{Purchase_Cost_Per_Unit}}</td>
    </tr>
    <tr>
      <td>Total Cost Per Unit</td>
      <td>&nbsp;</td>
      <td>{{Total_Cost_Per_Unit}}</td>
    </tr>
    <tr>
      <td>Purchase Cost Per SF</td>
      <td>&nbsp;</td>
      <td>{{Purchase_Cost_Per_SF}}</td>
    </tr>
    <tr>
      <td>Cap Rate on Purchase Price</td>
      <td>&nbsp;</td>
      <td>{{Cap_Rate_on_Purchase_Price}}</td>
    </tr>
    <tr>
      <td>Cap Rate on Total Price</td>
      <td>&nbsp;</td>
      <td>{{Cap_Rate_on_Total_Price}}</td>
    </tr>
  </table>


  <table id="Sale_Assumptions">
    <tr>
      <th>SALE ASSUMPTION</th>
    </tr>
    <tr>
      <td>Sale Year</td>
      <td><input type="text" name="Sale_Year" placeholder = "Sale Year (#)"></td>
    </tr>
    <tr>
      <td>Terminal Cap Rate</td>
      <td><input type="text" name="Terminal_Cap_Rate" placeholder = "Terminal Cap Rate (%)"></td>
    </tr>
    <tr>
      <td>Sales Costs</td>
      <td><input type="text" name="Sales_Costs" placeholder = "Sale Costs (%)"></td>
    </tr>
  </table>


  <table name="Sale_Summary">
    <tr>
      <th>SALE SUMMARY</th>
    </tr>
    <tr>
      <td>Sale Price</td>
      <td>{{Sale_Price}}</td>
    </tr>
    <tr>
      <td>Sale Price Per Unit</td>
      <td>{{Sale_Price_Per_Unit}}</td>
    </tr>
    <tr>
      <td>Sale Price Per SF</td>
      <td>{{Sale_Price_Per_SF}}</td>
    </tr>
  </table>


  <table id="Financing_Assumptions">
    <tr>
      <th>FINANCING ASSUMPTIONS</th>
    </tr>
    <tr>
      <td>Leverage</td>
      <td><input type="text" name="Leverage" placeholder = "Leverage (%)"></td>
    </tr>
    <tr>
      <td>Interest Rate on Mortgage</td>
      <td><input type="text" name="Interest_Rate_on_Mortgage" placeholder = "Interest Rate on Mortgage (%)"></td>
    </tr>
    <tr>
      <td>Loan Term</td>
      <td><input type="text" name="Loan_Term" placeholder = "Loan Term (#)"></td>
    </tr>
    <tr>
      <td>Loan Amortization</td>
      <td><input type="text" name="Loan_Amortization" placeholder = "Loan Amortization (#)"></td>
    </tr>
  </table>


    <table id="Sources_and_Uses">
      <tr>
        <th>SOURCES AND USES</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Total</th>
        <th>$/Unit</th>
        <th>$/SF</th>
        <th>% of Total</th>
      </tr>
      <tr>
        <th>Sources</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{Equity_Total}}</td>
        <td>{{Equity_DollarPerUnit}}</td>
        <td>{{Equity_DollarPerSF}}</td>
        <td>{{Equity_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{Loan_Total}}</td>
        <td>{{Loan_DollarPerUnit}}</td>
        <td>{{Loan_DollarPerSF}}</td>
        <td>{{Loan_PercentofTotal}}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>{{Total_Sources_Total}}</th>
        <th>{{Total_Sources_DollarPerUnit}}</th>
        <th>{{Total_Sources_DollarPerSF}}</th>
        <th>{{Total_Sources_PercentofTotal}}</th>
      </tr>
      <tr>
        <th>Uses</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{Purchasing_Price_Total}}</td>
        <td>{{Purchasing_Price_DollarPerUnit}}</td>
        <td>{{Purchasing_Price_DollarPerSF}}</td>
        <td>{{Purchasing_Price_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{Closing_Costs_Total}}</td>
        <td>{{Closing_Costs_DollarPerUnit}}</td>
        <td>{{Closing_Costs_DollarPerSF}}</td>
        <td>{{Closing_Costs_PercentofTotal}}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>{{Total_Uses_Total}}</th>
        <th>{{Total_Uses_DollarPerUnit}}</th>
        <th>{{Total_Uses_DollarPerSF}}</th>
        <th>{{Total_Uses_PercentofTotal}}</th>
      </tr>
    </table>

  <!--==================================================================================-->
  <!-- Must have this table be dynamic and allow the user to add an indefinite number of rooms/rents -->

    <table id="Rental_Rate_Assumptions">
      <tr>
        <th>RENTAL RATE ASSUMPTIONS</th>
      </tr>
      <tr>
        <th>Projected Rents</th>
        <th>Total Units</th>
        <th>Total SF</th>
        <th>Avg. SF/Unit</th>
        <th>Rent/SF</th>
        <th>Per Unit</th>
      </tr>
      <tr>
        <td>1 Bed/1 Bath</td>
        <td>50</td>
        <td>33,100</td>
        <td>662</td>
        <td>$1.66</td>
        <td>$1,100</td>
      </tr>
      <tr>
        <td>2 Bed/1 Bath</td>
        <td>75</td>
        <td>78,038</td>
        <td>1,041</td>
        <td>$1.35</td>
        <td>$1,400</td>
      </tr>
      <tr>
        <td>2 Bed/2 Bath</td>
        <td>75</td>
        <td>88,875</td>
        <td>1,185</td>
        <td>$1.52</td>
        <td>$1,800</td>
      </tr>
      <tr>
        <th>Totals</th>
        <th>200</th>
        <th>200,013</th>
        <th>1,000</th>
        <th>$1.47</th>
        <th>$1,475</th>
      </tr>
    </table>
  <!--==================================================================================-->


    <table id="Returns_Summary">
      <tr>
        <th>RETURNS SUMMARY</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Unlevered</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Levered</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>Net Profit</td>
        <td>&nbsp;</td>
        <td>{{UL_Net_Profit}}</td>
        <td>Net Profit</td>
        <td>&nbsp;</td>
        <td>{{L_Net_Profit}}</td>
      </tr>
      <tr>
        <td>Discount Rate</td>
        <td>&nbsp;</td>
        <td><input type="text" name="UL_Discount_Rate" placeholder = "Unlevered Discount Rate (%)"></td>
        <td>Discount Rate</td>
        <td>&nbsp;</td>
        <td><input type="text" name="L_Discount_Rate" placeholder = "Levered Discount Rate (%)"></td>
      </tr>
      <tr>
        <td>IRR from CF (%)</td>
        <td>&nbsp;</td>
        <td>{{UL_IRR_from_CF}}</td>
        <td>IRR from CF (%)</td>
        <td>&nbsp;</td>
        <td>{{L_IRR_from_CF}}</td>
      </tr>
      <tr>
        <td>Preset Value</td>
        <td>&nbsp;</td>
        <td>{{UL_IRR_from_CF}}</td>
        <td>IRR from CF (%)</td>
        <td>&nbsp;</td>
        <td>{{L_IRR_from_CF}}</td>
      </tr>
      <tr>
        <td>Net Present Value</td>
        <td>&nbsp;</td>
        <td>{{UL_Net_Present_Value}}</td>
        <td>Net Present Value</td>
        <td>&nbsp;</td>
        <td>{{L_Net_Present_Value}}</td>
      </tr>
      <tr>
        <td>Equity Multiple</td>
        <td>&nbsp;</td>
        <td>{{UL_Equity_Multiple}}</td>
        <td>Equity Multiple</td>
        <td>&nbsp;</td>
        <td>{{L_Equity_Multiple}}</td>
      </tr>
      <tr>
        <td>IRR</td>
        <td>&nbsp;</td>
        <td>{{UL_IRR}}</td>
        <td>IRR</td>
        <td>&nbsp;</td>
        <td>{{L_IRR}}</td>
      </tr>
      <tr>
        <td>IRR from CF (%)</td>
        <td>&nbsp;</td>
        <td>{{UL_IRR_from_CF}}</td>
        <td>IRR from CF (%)</td>
        <td>&nbsp;</td>
        <td>{{L_IRR_from_CF}}</td>
      </tr>
      <tr>
        <td>IRR from Sale (%)</td>
        <td>&nbsp;</td>
        <td>{{UL_IRR_from_Sale}}</td>
        <td>IRR from Sale (%)</td>
        <td>&nbsp;</td>
        <td>{{L_IRR_from_Sale}}</td>
      </tr>
      <tr>
        <td>Cash-On-Cash</td>
        <td>&nbsp;</td>
        <td>{{UL_Cash_On_Cash}}</td>
        <td>Cash-On-Cash</td>
        <td>&nbsp;</td>
        <td>{{L_Cash_On_Cash}}</td>
      </tr>
    </table>
    <table id="Current_Financial_Performance">
      <tr>
        <th>CURRENT FINANCIAL PERFORMANCE</th>
      </tr>
      <tr>
        <th>As of date: 1/1/2016</th>
        <th>&nbsp;</th>
        <th>Total</th>
        <th>$/Unit</th>
        <th>$/SF</th>
        <th>% of Total</th>
      </tr>
      <tr>
        <th>Revenue</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>Rental Income</td>
        <td>&nbsp;</td>
        <td>{{Rental_Income_Total}}</td>
        <td>{{Rental_Income_DollarPerUnit}}</td>
        <td>{{Rental_Income_DollarPerSF}}</td>
        <td>{{Rental_Income_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Other Income</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Other_Income_Total" placeholder = "Total Other Income ($)"></td>
        <td>{{Other_Income_DollarPerUnit}}</td>
        <td>{{Other_Income_DollarPerSF}}</td>
        <td>{{Other_Income_PercentofTotal}}</td>
      </tr>
      <tr>
        <th>Gross Rental Income</th>
        <th>&nbsp;</th>
        <th>{{Gross_Rental_Income_Total}}</th>
        <th>{{Gross_Rental_Income_DollarPerUnit}}</th>
        <th>{{Gross_Rental_Income_DollarPerSF}}</th>
        <th>{{Gross_Rental_Income_PercentofTotal}}</th>
      </tr>
      <tr>
        <td>Less: Vacancy</td>
        <td><input type="text" name="Less_Vacancy" placeholder = "Less Vacancy (%)"></td>
        <td>{{Vacancy_Total}}</td>
        <td>{{Vacancy_DollarPerUnit}}</td>
        <td>{{Vacancy_DollarPerSF}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Less: Concessions</td>
        <td><input type="text" name="Less_Concessions" placeholder = "Less Concessions (%)"></td>
        <td>{{Concessions_Total}}</td>
        <td>{{Concessions_DollarPerUnit}}</td>
        <td>{{Concessions_DollarPerSF}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Less: Credit Loss</td>
        <td><input type="text" name="Less_Credit_Loss" placeholder = "Less Credit Loss (%)"></td>
        <td>{{Credit_Loss_Total}}</td>
        <td>{{Credit_Loss_DollarPerUnit}}</td>
        <td>{{Credit_Loss_DollarPerSF}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Net Rental Income</th>
        <th>&nbsp;</th>
        <td>{{Net_Rental_Income_Total}}</td>
        <td>{{Net_Rental_Income_DollarPerUnit}}</td>
        <td>{{Net_Rental_Income_DollarPerSF}}</td>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th>Operating Expenses</th>
      </tr>
      <tr>
        <td>Real Estate Taxes</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Real_Estate_Taxes_Total" placeholder = "Real Estate Taxes Total ($)"></td>
        <td>{{Real_Estate_Taxes_DollarPerUnit}}</td>
        <td>{{Real_Estate_Taxes_DollarPerSF}}</td>
        <td>{{Real_Estate_Taxes_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Insurance</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Insurance_Total" placeholder = "Insurance Total ($)"></td>
        <td>{{Insurance_DollarPerUnit}}</td>
        <td>{{Insurance_DollarPerSF}}</td>
        <td>{{Insurance_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Utilities</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Utilities_Total" placeholder = "Utilities Total ($)"></td>
        <td>{{Utilities_DollarPerUnit}}</td>
        <td>{{Utilities_DollarPerSF}}</td>
        <td>{{Utilities_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Payroll</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Payroll_Total" placeholder = "Payroll Total ($)"></td>
        <td>{{Payroll_DollarPerUnit}}</td>
        <td>{{Payroll_DollarPerSF}}</td>
        <td>{{Payroll_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Repairs & Maintenance</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Repairs_and_Maintenance_Total" placeholder = "Repairs & Maintenance Total ($)"></td>
        <td>{{Repairs_and_Maintenance_DollarPerUnit}}</td>
        <td>{{Repairs_and_Maintenance_DollarPerSF}}</td>
        <td>{{Repairs_and_Maintenance_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Contract Services</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Contract_Services_Total" placeholder = "Contract Services Total ($)"></td>
        <td>{{Contract_Services_DollarPerUnit}}</td>
        <td>{{Contract_Services_DollarPerSF}}</td>
        <td>{{Contract_Services_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Turnover</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Turnover_Total" placeholder = "Turnover Total ($)"></td>
        <td>{{Turnover_DollarPerUnit}}</td>
        <td>{{Turnover_DollarPerSF}}</td>
        <td>{{Turnover_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Sales & Marketing</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Sales_and_Marketing_Total" placeholder = "Sales & Marketing Total ($)"></td>
        <td>{{Sales_and_Marketing_DollarPerUnit}}</td>
        <td>{{Sales_and_Marketing_DollarPerSF}}</td>
        <td>{{Sales_and_Marketing_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Administrative</td>
        <td>&nbsp;</td>
        <td><input type="text" name="Administrative_Total" placeholder = "Administrative Total ($)"></td>
        <td>{{Administrative_DollarPerUnit}}</td>
        <td>{{Administrative_DollarPerSF}}</td>
        <td>{{Administrative_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Management</td>
        <td><input type="text" name="Management_Percentage" placeholder = "Management Total (%)"></td>
        <td>{{Management_Total}}</td>
        <td>{{Management_DollarPerUnit}}</td>
        <td>{{Management_DollarPerSF}}</td>
        <td>{{Management_PercentofTotal}}</td>
      </tr>
      <tr>
        <td>Replacement Reserves</td>
        <td><input type="text" name="Replacement_Reserves_Percentage" placeholder = "Replacement Reserves Total (%)"></td>
        <td>{{Replacement_Reserves_Total}}</td>
        <td>{{Replacement_Reserves_DollarPerUnit}}</td>
        <td>{{Replacement_Reserves_DollarPerSF}}</td>
        <td>{{Replacement_Reserves_PercentofTotal}}</td>
      </tr>
      <tr>
        <th>Total Operating Expenses</th>
        <th>&nbsp;</th>
        <th>{{Total_Operating_Expenses_Total}}</th>
        <th>{{Total_Operating_Expenses_DollarPerUnit}}</th>
        <th>{{Total_Operating_Expenses_DollarPerSF}}</th>
        <th>{{Total_Operating_Expenses_PercentofTotal}}</th>
      </tr>
      <tr>
        <th>Net Operating Expenses</th>
        <th>&nbsp;</th>
        <th>{{Net_Operating_Expenses_Total}}</th>
        <th>{{Net_Operating_Expenses_DollarPerUnit}}</th>
        <th>{{Net_Operating_Expenses_DollarPerSF}}</th>
        <th>&nbsp;</th>
      </tr>
    </table>


  <!--==================================================================================-->

  <!-- Must have this table be dynamic and allow the user to add an indefinite number of years -->
  <!-- Table must be AJAX so every time a user adds a year, a new row is automatically added -->
    <table id="Market_Rental_Assumptions">
      <tr>
        <th>MARKET RENTAL ASSUMPTIONS</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Revenue</th>
        <th>Expenses</th>
        <th>Vacancy</th>
        <th>Concessions</th>
        <th>Credit Loss</th>
      </tr>
      <tr>
        <td>Year 1</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 2</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 3</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 4</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 5</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 6</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 7</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 8</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 9</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 10</td>
        <td>&nbsp;</td>
        <td>3.0%</td>
        <td>3.0%</td>
        <td>10.0%</td>
        <td>3.0%</td>
        <td>2.0%</td>
      </tr>
      <tr>
        <td>Year 11</td>
        <td>&nbsp;</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        </tr>
    </table>
<!--==================================================================================-->
<input type="submit" value="calculate">
</form>

{%endblock tables%}
