{% extends "base.html" %}
{% block title %} Home {% endblock title %}

{% block content %}

    <body>
      <div class="container">
        <div id = "home_page">
        <h2 style="text-align:center">Create Real Estate Model</h2><br>
        <div class ="row">
            <div class = 'col s6'>
                <a href = '/dashboard' class="waves-light btn" id='home_buttons'>Apartment</a>
            </div>
            <div class = 'col s6'>
                <a href = '' class="waves-light btn disabled" id='home_buttons'>Commercial</a>
            </div>
        </div>
        <br><br>
        <h3>Load Models</h3>
        <table class = 'highlight' id = 'Load_History'>
            <thead>
              <tr>
                  <th data-field="col_model_name">Model</th>
                  <th data-field="col_date_created">Date Created</th>
                  <th data-field="col_button"></th>
              </tr>
            </thead>

            <tbody>
{% if modelslist == [] %}
              <tr>
                <td colspan="2" text-align="center">Looks like you don't have any models created yet!</td>
                <td class = 'load_button'><a href="#!" class="waves-effect waves-light btn secondary-content disabled">Load</a></td>
              </tr>
{% else %}
  {% for model in modelslist %}
              <tr>
                <td class ='model_name'>{{model.model_name}}</td>
                <td class ='model_created_on'>{{model.created_on}}</td>
                <td>
                  <a href = '/edit/{{model.id}}' class = 'load_button waves-effect waves-light btn secondary-content'>Load</a>
                </td>
              </tr>
  {% endfor %}
{% endif %}
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>

      </div>
    </body>

{% endblock content %}
