{% extends "base.html" %}

{% block content %}
		<div class = "container">
			<br>
			<h2 style="text-align:center">Login</h2>
			<form id= 'login_form' name = 'login_form' action = '/login' method = 'POST'>
				{{error_msg}}
				<input type = 'text' name = 'email' placeholder = 'Enter Email'>
				<input type = 'password' name = 'password' placeholder = 'Enter Password'>
				<button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
			</form>
			<br>
			<div id = 'button_alignment'> <a href = '/register' class="waves-effect waves-light btn">Register</a></div>
		</div>
		<br><br>


{% endblock content %}