{% block performa %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
  <div class="collapsible-header"><i class="material-icons">pageview</i>Performa</div>
  <div class="collapsible-body">
    <form name = "performa" id = "performa" action="/performa" method="POST">

    <table id="Performa" class="center">
      <tr>
        <th>Year End: </th>
        <th>Year 1<br> 2017 </th>
        <th>Year 2<br> 2018 </th>
        <th>Year 3<br> 2019 </th>
        <th>Year 4<br> 2020 </th>
        <th>Year 5<br> 2021 </th>
        <th>Year 6<br> 2022 </th>
        <th>Year 7<br> 2023 </th>
        <th>Year 8<br> 2024 </th>
        <th>Year 9<br> 2025 </th>
        <th>Year 10<br> 2026 </th>
        <th>Year 11<br> 2027 </th>
      </tr>
      <tr>
        <th>Revenue</th>
      </tr>
      <tr>
        <td>Rental Income</td>
        <td>$3,646,200  </td>
        <td>$3,755,586  </td>
        <td>$3,868,254  </td>
        <td>$3,984,301  </td>
        <td>$4,103,830  </td>
        <td>$4,226,945  </td>
        <td>$4,353,753  </td>
        <td>$4,484,366  </td>
        <td>$4,618,897  </td>
        <td>$4,757,464  </td>
        <td>$4,900,188  </td>
      </tr>
      <tr>
        <td>Other Income</td>
        <td>$103,000 </td>
        <td>$106,090  </td>
        <td>$109,273  </td>
        <td>$112,551  </td>
        <td>$115,927  </td>
        <td>$119,405  </td>
        <td>$122,987  </td>
        <td>$126,677  </td>
        <td>$130,477  </td>
        <td>$134,392  </td>
        <td>$138,423  </td>
      </tr>
      <tr>
        <th>Gross Rental Income</th>
        <th>$3,749,200  </th>
        <th>$3,861,676  </th>
        <th>$3,977,526  </th>
        <th>$4,096,852  </th>
        <th>$4,219,758  </th>
        <th>$4,346,350  </th>
        <th>$4,476,741  </th>
        <th>$4,611,043  </th>
        <th>$4,749,374  </th>
        <th>$4,891,856  </th>
        <th>$5,038,611  </th>
      </tr>
      <tr>
        <td>Less: Vacancy</td>
        <td>($374,920) </td>
        <td>($386,168) </td>
        <td>($397,753) </td>
        <td>($409,685) </td>
        <td>($421,976) </td>
        <td>($434,635) </td>
        <td>($447,674) </td>
        <td>($461,104) </td>
        <td>($474,937) </td>
        <td>($489,186) </td>
        <td>($503,861) </td>
      </tr>
      <tr>
        <td>Less: Concessions</td>
        <td>($112,476) </td>
        <td>($115,850) </td>
        <td>($119,326) </td>
        <td>($122,906) </td>
        <td>($126,593) </td>
        <td>($130,391) </td>
        <td>($134,302) </td>
        <td>($138,331) </td>
        <td>($142,481) </td>
        <td>($146,756) </td>
        <td>($151,158) </td>
      </tr>
      <tr>
        <td>Less: Credit Loss</td>
        <td>($74,984) </td>
        <td>($77,234) </td>
        <td>($79,551) </td>
        <td>($81,937) </td>
        <td>($84,395) </td>
        <td>($86,927) </td>
        <td>($89,535) </td>
        <td>($92,221) </td>
        <td>($94,987) </td>
        <td>($97,837) </td>
        <td>($100,772) </td>
      </tr>
      <tr>
        <th>Net Rental Income</th>
        <th>$3,186,820  </th>
        <th>$3,282,425  </th>
        <th>$3,380,897  </th>
        <th>$3,482,324  </th>
        <th>$3,586,794  </th>
        <th>$3,694,398  </th>
        <th>$3,805,230  </th>
        <th>$3,919,387  </th>
        <th>$4,036,968  </th>
        <th>$4,158,077  </th>
        <th>$4,282,820  </th>
      </tr>
      <tr>
        <th>Operating Expenses</th>
      </tr>
      <tr>
        <td>Real Estate Taxes</td>
        <td>$515,000  </td>
        <td>$530,450  </td>
        <td>$546,364  </td>
        <td>$562,754  </td>
        <td>$579,637  </td>
        <td>$597,026  </td>
        <td>$614,937  </td>
        <td>$633,385  </td>
        <td>$652,387  </td>
        <td>$671,958  </td>
        <td>$692,117  </td>
      </tr>
      <tr>
        <td>Insurance</td>
        <td>$77,250 </td>
        <td>$79,568 </td>
        <td>$81,955 </td>
        <td>$84,413 </td>
        <td>$86,946 </td>
        <td>$89,554 </td>
        <td>$92,241 </td>
        <td>$95,008 </td>
        <td>$97,858 </td>
        <td>$100,794 </td>
        <td>$103,818 </td>
      </tr>
      <tr>
        <td>Utilities</td>
        <td>$128,750 </td>
        <td>$132,613 </td>
        <td>$136,591 </td>
        <td>$140,689 </td>
        <td>$144,909 </td>
        <td>$149,257 </td>
        <td>$153,734 </td>
        <td>$158,346 </td>
        <td>$163,097 </td>
        <td>$167,990 </td>
        <td>$173,029 </td>
      </tr>
      <tr>
        <td>Payroll</td>
        <td>$154,500 </td>
        <td>$159,135 </td>
        <td>$163,909 </td>
        <td>$168,826 </td>
        <td>$173,891 </td>
        <td>$179,108 </td>
        <td>$184,481 </td>
        <td>$190,016 </td>
        <td>$195,716 </td>
        <td>$201,587 </td>
        <td>$207,635 </td>
      </tr>
      <tr>
        <td>Repairs & Maintenance</td>
        <td>$77,250 </td>
        <td>$79,568 </td>
        <td>$81,955 </td>
        <td>$84,413 </td>
        <td>$86,946 </td>
        <td>$89,554 </td>
        <td>$92,241 </td>
        <td>$95,008 </td>
        <td>$97,858 </td>
        <td>$100,794 </td>
        <td>$103,818 </td>
      </tr>
      <tr>
        <td>Contract Services</td>
        <td>$103,000 </td>
        <td>$106,090 </td>
        <td>$109,273 </td>
        <td>$112,551 </td>
        <td>$115,927 </td>
        <td>$119,405 </td>
        <td>$122,987 </td>
        <td>$126,677 </td>
        <td>$130,477 </td>
        <td>$134,392 </td>
        <td>$138,423 </td>
      </tr>
      <tr>
        <td>Turnover</td>
        <td>$77,250 </td>
        <td>$79,568 </td>
        <td>$81,955 </td>
        <td>$84,413 </td>
        <td>$86,946 </td>
        <td>$89,554 </td>
        <td>$92,241 </td>
        <td>$95,008 </td>
        <td>$97,858 </td>
        <td>$100,794 </td>
        <td>$103,818 </td>
      </tr>
      <tr>
        <td>Sales & Marketing</td>
        <td>$51,500 </td>
        <td>$53,045 </td>
        <td>$54,636 </td>
        <td>$56,275 </td>
        <td>$57,964 </td>
        <td>$59,703 </td>
        <td>$61,494 </td>
        <td>$63,339 </td>
        <td>$65,239 </td>
        <td>$67,196 </td>
        <td>$69,212 </td>
      </tr>
      <tr>
        <td>Administrative</td>
        <td>$51,500 </td>
        <td>$53,045 </td>
        <td>$54,636 </td>
        <td>$56,275 </td>
        <td>$57,964 </td>
        <td>$59,703 </td>
        <td>$61,494 </td>
        <td>$63,339 </td>
        <td>$65,239 </td>
        <td>$67,196 </td>
        <td>$69,212 </td>
      </tr>
      <tr>
        <td>Management</td>
        <td>$95,605 </td>
        <td>$98,473 </td>
        <td>$101,427 </td>
        <td>$104,470 </td>
        <td>$107,604 </td>
        <td>$110,832 </td>
        <td>$114,157 </td>
        <td>$117,582 </td>
        <td>$121,109 </td>
        <td>$124,742 </td>
        <td>$128,485 </td>
      </tr>
      <tr>
        <td>Replacement Reserves</td>
        <td>$63,736 </td>
        <td>$65,648 </td>
        <td>$67,618 </td>
        <td>$69,646 </td>
        <td>$71,736 </td>
        <td>$73,888 </td>
        <td>$76,105 </td>
        <td>$78,388 </td>
        <td>$80,739 </td>
        <td>$83,162 </td>
        <td>$85,656 </td>
      </tr>
      <tr>
        <th>Total Operating Expenses</th>
        <th>$1,395,341 </th>
        <th>$1,437,201 </th>
        <th>$1,480,317 </th>
        <th>$1,524,727 </th>
        <th>$1,570,469 </th>
        <th>$1,617,583 </th>
        <th>$1,666,110 </th>
        <th>$1,716,093 </th>
        <th>$1,767,576 </th>
        <th>$1,820,604 </th>
        <th>$1,875,222 </th>
      </tr>
      <tr>
        <th>Net Operating Income</th>
        <th>$1,791,479 </th>
        <th>$1,845,223 </th>
        <th>$1,900,580 </th>
        <th>$1,957,597 </th>
        <th>$2,016,325 </th>
        <th>$2,076,815 </th>
        <th>$2,139,120 </th>
        <th>$2,203,293 </th>
        <th>$2,269,392 </th>
        <th>$2,337,474 </th>
        <th>$2,407,598 </th>
      </tr>
      <tr>
        <th>Capital Expenditures</th>
      </tr>
      <tr>
        <td>Capital Expenditures</td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
        <td>$100,000 </td>
      </tr>
      <tr>
        <th>Net Cash Flow </th>
        <th>$1,691,479 </th>
        <th>$1,745,223 </th>
        <th>$1,800,580 </th>
        <th>$1,857,597 </th>
        <th>$1,916,325 </th>
        <th>$1,976,815 </th>
        <th>$2,039,120 </th>
        <th>$2,103,293 </th>
        <th>$2,169,392 </th>
        <th>$2,237,474 </th>
        <th>$2,307,598 </th>
      </tr>
    </table>

    </form>
  </div>
  </li>
</ul>
{% endblock performa %}
