{% block proforma %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
  <div class="collapsible-header" id="proforma-collapsible-header"><i class="material-icons">pageview</i>Pro Forma</div>
  <div class="collapsible-body">

    <div class='row'>
      <div class="col s12">
        <form id = "proforma_form" action="/proforma" method="POST">

        <table id="Proforma" class="z-depth-3 center">
          <thead>
            <tr class ='PF_Year_End table_header'>
              <th class = "proforma_header">YEAR END:</th>
            </tr>
          </thead>
          <tbody>
            <tr class ='PFHeader'>
              <th class="table_description">Revenue</th>
            </tr>
            <tr class ='PF_Rental_Income'>
              <th class="table_description">Rental Income</th>
            </tr>
            <tr class ='PF_Other_Income'>
              <th class="table_description">Other Income</th>
            </tr>
            <tr class ='PF_Gross_Rental_Income'>
              <th class="table_description">Gross Rental Income</th>
            </tr>
            <tr class ='PF_Less_Vacancy'>
              <th class="table_description">Less: Vacancy</th>
            </tr>
            <tr class ='PF_Less_Concessions'>
              <th class="table_description">Less: Concessions</th>
            </tr>
            <tr class ='PF_Less_Credit_Loss'>
              <th class="table_description">Less: Credit Loss</th>
            </tr>
            <tr class ='PF_Net_Rental_Income'>
              <th class="table_description">Net Rental Income</th>
            </tr>



            <tr class ='PFHeader'>
              <th colspan="2" class="table_description">Operating Expenses</th>
            </tr>
            <tr class ='PF_Real_Estate_Taxes'>
              <th class="table_description">Real Estate Taxes</th>
            </tr>
            <tr class ='PF_Insurance'>
              <th class="table_description">Insurance</th>
            </tr>
            <tr class ='PF_Utilities'>
              <th class="table_description">Utilities</th>
            </tr>
            <tr class ='PF_Payroll'>
              <th class="table_description">Payroll</th>
            </tr>
            <tr class ='PF_Repairs_And_Maintenance'>
              <th class="table_description">Repairs & Maintenance</th>
            </tr>
            <tr class ='PF_Contract_Services'>
              <th class="table_description">Contract Services</th>
            </tr>
            <tr class ='PF_Turnover'>
              <th class="table_description">Turnover</th>
            </tr>
            <tr class ='PF_Sales_And_Marketing'>
              <th class="table_description">Sales & Marketing</th>
            </tr>
            <tr class ='PF_Administrative'>
              <th class="table_description">Administrative</th>
            </tr>
            <tr class ='PF_Management'>
              <th class="table_description">Management</th>
            </tr>
            <tr class ='PF_Replacement_Reserves'>
              <th class="table_description">Replacement Reserves</th>
            </tr>
            <tr class ='PF_Total_Operating_Expenses'>
              <th class="table_description">Total Operating Expenses</th>
            </tr>
            <tr class ='PF_Net_Operating_Income'>
              <th class="table_description">Net Operating Income</th>
            </tr>
            <tr class ='PFHeader'>
              <th colspan="2" class="table_description">Capital Expenditures</th>
            </tr>
            <tr class ='PF_Capital_Expenditures'>
              <th class="table_description">Capital Expenditures </th>
            </tr>
            <tr class ='PF_Net_Cash_Flow'>
              <th class="table_description">Net Cash Flow </th>
            </tr>
          </tbody>
        </table>

        </form>
      </div>
    </div>
  </div>
  </li>
</ul>
{% endblock proforma %}
