{% block proforma %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
  <div class="collapsible-header"><i class="material-icons">pageview</i>Pro Forma</div>
  <div class="collapsible-body">
    

    <table id="Sale_Assumptions_T">
      <tr>
        <th>SALE ASSUMPTION</th>
      </tr>
      <tr>
        <td>Sale Year</td>
        <td><input type="number" name="Sale_Year_T" id="Sale_Year_T" placeholder = "Sale Year (#)"></td>
      </tr>
    </table>



    <form id = "proforma_form" action="/proforma" method="POST">

    <table id="Proforma" class="center">
      <tr class ='PF_Year_End'>
        <th>Year End: </th>
      </tr>
      <tr class = 'PFHeader'>
        <th>Revenue</th>
      </tr>
      <tr class ='PF_Rental_Income'>
        <th>Rental Income</th>
      </tr>
      <tr class ='PF_Other_Income'>
        <th>Other Income</th>
      </tr>
      <tr class ='PF_Gross_Rental_Income'>
        <th>Gross Rental Income</th>
      </tr>
      <tr class ='Less_Vacancy'>
        <th>Less: Vacancy</th>
      </tr>
      <tr class ='Less_Concessions'>
        <th>Less: Concessions</th>
      </tr>
      <tr class ='Less_Credit_Loss'>
        <th>Less: Credit Loss</th>
      </tr>
      <tr class ='Net_Rental_Income'>
        <th>Net Rental Income</th>
      </tr>

    </table>

    </form>
  </div>
  </li>
</ul>
{% endblock proforma %}
