{% extends "base.html" %}

	{% block content %}

		<div class = "container">
		<br>
			<div id ='register_page'>

				<h2 style="text-align:center">Register</h2>
				<form id= 'register_form' name = 'register_form' action = '/register' method = 'POST'>
					<input type = 'text' name = 'email' placeholder = 'Enter Email'>
					<input type = 'password' name = 'password' placeholder = 'Enter Password'>
					<input type = 'text' name = 'firstname' placeholder = 'Enter First Name'>
					<input type = 'text' name = 'lastname' placeholder = 'Enter Last Name'>
					
					<button id = "RP_register_button" class="btn waves-effect waves-light" type="submit" name="action">Register</button>
				</form>
			</div>
		</div>
		<br><br>

	{% endblock content %}
