{% block returns_summary %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
  <div class="collapsible-header"><i class="material-icons">pageview</i>Returns Summary</div>
  <div class="collapsible-body">
	<form name = "returns_summary" id = "returns_summary" action="/returns_summary" method="POST">


	<div class ='row'>
		<div class = 'col s4'>
			<table  class = 'z-depth-1 striped' id ="unlevered">
			  <thead>
				<tr>
					<th colspan="2">Unlevered Data</th>
				</tr>
			  </thead>
			  <tr>
				<th>Unlevered IRR</th>
				<th id ='RSUL_IRR'>%</th>
			  </tr>
			  <tr>
				<th>Unlevered Equity Multiple</th>
				<th id ='RSUL_Equity_Multiple'>#</th>
			  </tr>
			</table>

			<table class = 'z-depth-1 striped' id ="unlevered-irr-partition">
				<thead>
					<tr>
						<th class = 't_head'>IRR Partition</th>
						<th class = 't_head inputright'>%</th>
						<th class = 't_head inputright'>$</th>
					</tr>
				</thead>
			  <tr>
				<th>IRR from Cash Flow</th>
				<th id = 'RSUL_IRR_from_Cash_Flow_P'>%</th>
				<th id = 'RSUL_IRR_from_Cash_Flow_D'>$</th>
			  </tr>
			  <tr>
				<th>IRR from Reversion/Sale</th>
				<th id = 'RSUL_IRR_from_ReversionSale_P'>%</th>
				<th id = 'RSUL_IRR_from_ReversionSale_D'>$</th>
			  </tr>
			  <tr>
				<th>Total</th>
				<th id = 'RSUL_Total_P'>%</th>
				<th id = 'RSUL_Total_D'>$</th>
			  </tr>
			</table>
		</div>


		<div class = 'col s4'>
			<table  class = 'z-depth-1 striped' id ="levered">
			  <thead>
				<tr>
					<th colspan="2">Levered Data</th>
				</tr>
			  </thead>
			  <tr>
				<th>Levered IRR</th>
				<th id ='RSL_IRR'>%</th>
			  </tr>
			  <tr>
				<th>Levered Equity Multiple</th>
				<th id ='RSL_Equity_Multiple'>#</th>
			  </tr>
			</table>

			<table class = 'z-depth-1 striped' id ="levered-irr-partition">
				<thead>
					<tr>
						<th class = 't_head'>IRR Partition</th>
						<th class = 't_head inputright'>%</th>
						<th class = 't_head inputright'>$</th>
					</tr>
				</thead>
			  <tr>
				<th>IRR from Cash Flow</th>
				<th id = 'RSL_IRR_from_Cash_Flow_P'>%</th>
				<th id = 'RSL_IRR_from_Cash_Flow_D'>$</th>
			  </tr>
			  <tr>
				<th>IRR from Reversion/Sale</th>
				<th id = 'RSL_IRR_from_ReversionSale_P'>%</th>
				<th id = 'RSL_IRR_from_ReversionSale_D'>$</th>
			  </tr>
			  <tr>
				<th>Total</th>
				<th id = 'RSL_Total_P'>%</th>
				<th id = 'RSL_Total_D'>$</th>
			  </tr>
			</table>
		</div>
	</div> <!-- End Row -->


	<div class ='row'>
		<div class = 'col s12'>

				<table id="unlevered-analysis" class='z-depth-2'>
					<thead>
					  <tr class ='RS_Year_End table_header'>
						<th class="return_summary_header">Unlevered Analysis</th>
						<th>Costs</th>	<!-- temp line until htmlgen file is updated -->
						<th>YEAR 1</th> <!-- temp line until htmlgen file is updated -->
					  </tr>
					</thead>
					<tbody>
					  <tr class = 'RS_Net_Operating_Income'>
						<th>Net Operating Income</th>
					  </tr>
					  <tr class = 'RS_Less_Capital_Expenditures'>
						<th>Less: Capital Expenditures</th>
					  </tr>
					  <tr class = 'RS_Net_Cash_Flow_from_Operations'>
						<th>Net Cash Flow from Operations</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Gross_Sale_Proceeds'>
						<th>Gross Sale Proceeds</th>
					  </tr>
					  <tr class = 'RS_Sales_Costs'>
						<th>Sales Costs</th>
					  </tr>
					  <tr class = 'RS_Net_Sales_Proceeds'>
						<th>Net Sales Proceeds</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Net_Cash_Flow_from_Operations2'>
						<th>Net Cash Flow from Operations</th>
					  </tr>
					  <tr class = 'RS_Net_Sales_Proceeds2'>
						<th>Net Sales Proceeds</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Total_Cash_Flows'>
						<th>Total Cash Flows</th>
					  </tr>
					</tbody>
				</table>

				<table id="levered-analysis" class = "z-depth-2">
					<thead>
					  <tr class ='RS_Year_End table_header'>
						<th class = 'return_summary_header'>Levered Analysis</th>
						<th>EQUITY</th>	<!-- temp line until htmlgen file is updated -->
						<th>YEAR 1</th> <!-- temp line until htmlgen file is updated -->
					  </tr>
					</thead>
					<tbody>
					  <tr class = 'RS_Net_Operating_Income'>
						<th>Net Operating Income</th>
					  </tr>
					  <tr class = 'RS_Less_Capital_Expenditures'>
						<th>Less: Capital Expenditures</th>
					  </tr>
					  <tr class = 'RS_Less_Debt_Service'>
						<th>Less: Debt Service</th>
					  </tr>
					  <tr class = 'RS_Net_Cash_Flow_from_Operations'>
						<th>Net Cash Flow from Operations</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Gross_Sale_Proceeds'>
						<th>Gross Sale Proceeds</th>
					  </tr>
					  <tr class = 'RS_Sales_Costs'>
						<th>Sales Costs</th>
			          </tr>
			         <tr class = 'RS_Less_Outstanding_Mortgage'>
			          	<th>Less: Outstanding Mortgage</th>
			          </tr>
					  <tr class = 'RS_Net_Sales_Proceeds'>
						<th>Net Sales Proceeds</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Net_Cash_Flow_from_Operations2'>
						<th>Net Cash Flow from Operations</th>
					  </tr>
					  <tr class = 'RS_Net_Sales_Proceeds2'>
						<th>Net Sales Proceeds</th>
					  </tr>
					  <tr class ='PFHeader'>
					    <th></th>
					  </tr>
					  <tr class = 'RS_Total_Cash_Flows'>
						<th>Total Cash Flows</th>
					  </tr>
					</tbody>
				</table>
			</div>

	</form>
  </div>
  </li>
</ul>

{% endblock returns_summary %}
