{% block returns_summary %}
<ul class="collapsible" data-collapsible="expandable">
  <li>
  <div class="collapsible-header active"><i class="material-icons">pageview</i>Returns Summary</div>
  <div class="collapsible-body">
	<form name = "returns_summary" id = "returns_summary" action="/returns_summary" method="POST">

	
	<div class ='row'>
		<div class = 'col s4'>
			<table class = 'striped' id="unlevered">
			  <thead>
				<tr>
					<th colspan="2">Unlevered Data</th>
				</tr>
			  </thead>

			  <tr class ='RS_Unlevered_IRR'>
				<th>Unlevered IRR</th>
				<th>%</th>
			  </tr>
			  <tr class ='RS_Unlevered_Equity_Multiple'>
				<th>Unlevered Equity Multiple</th>
				<th>#</th>
			  </tr>
			</table>

			<table class = 'striped' id ="unlevered-irr-partition">
			  <thead>
				<tr>
					<th>IRR Partition</th>
					<th>%</th>
					<th>$</th>
				</tr>
			  </thead>
			  <tr class = 'RS_IRR_from_Cash_Flow'>
				<th>IRR from Cash Flow</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			  <tr class = 'RS_IRR_from_ReversionSale'>
				<th>IRR from Reversion/Sale</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			  <tr class = 'RS_Total'>
				<th>Total</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			</table>
		</div>

		
		<div class = 'col s4'>
			<table  class = 'striped' id ="levered">
              <thead>
                <tr>
                    <th colspan="2">Levered Data</th>
                </tr>
              </thead>
			  <tr class ='RS_Levered_IRR'>
				<th>Levered IRR</th>
				<th>%</th>
			  </tr>
			  <tr class ='RS_Levered_Equity_Multiple'>
				<th>Levered Equity Multiple</th>
				<th>#</th>
			  </tr>
			</table>
			
			<table class = 'striped' id ="levered-irr-partition">
				<thead>
					<tr>
						<th class = 't_head'>IRR Partition</th>
						<th class = 't_head'>%</th>
						<th class = 't_head'>$</th>
					</tr>   
				</thead>
			  <tr class = 'RS_IRR_from_Cash_Flow'>
				<th>IRR from Cash Flow</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			  <tr class = 'RS_IRR_from_ReversionSale'>
				<th>IRR from Reversion/Sale</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			  <tr class = 'RS_Total'>
				<th>Total</th>
				<th>%</th>
				<th>$</th>
			  </tr>
			</table>
		</div>
	</div> <!-- End Row -->


	<div class ='row'>
		<div class = 'col s12'>
			<ul class="collapsible" data-collapsible="expandable">
			<li>
			<div class="collapsible-header active">UNLEVERED ANALYSIS</div>
		  	<div class="collapsible-body">

				<table class = 'striped' id="unlevered-analysis">
				<thead>
				  <tr class ='RS_Year_End table_header'>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>Year 1</th>
				  </tr>
				</thead>
				<tbody>
				  <tr class = 'RS_Net_Operating_Income'>
					<th>Net Operating Income</th>
					<th>&nbsp;</th>
					<th>$1,791,479</th>
				  </tr>
				  <tr class = 'RS_Less_Capital_Expenditures'>
					<th>Less: Capital Expenditures</th>
					<th>&nbsp;</th>
					<th>($100,000)</th>
				  </tr>
				  <tr class = 'RS_Net_Cash_Flow_from_Operations'>
					<th>Net Cash Flow from Operations</th>
					<th>&nbsp;</th>
					<th>$1,691,479 </th>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				  </tr>
				  <tr class = 'RS_Gross_Sale_Proceeds'>
					<th>Gross Sale Proceeds</th>
					<th>&nbsp;</th>
					<th>$0</th>
				  </tr>
				  <tr class = 'RS_Sales_Costs'>
					<th>Sales Costs</th>
					<th>&nbsp;</th>
					<th>$0</th>
				  </tr>
				  <tr class = 'RS_Net_Sales_Proceeds'>
					<th>Net Sales Proceeds</th>
					<th>&nbsp;</th>
					<th>$0</th>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				  </tr>
				  <tr class = 'RS_Net_Cash_Flow_from_Operations'>
					<th>Net Cash Flow from Operations</th>
					<th>&nbsp;</th>
					<th>$1,691,479 </th>
				  </tr>
				  <tr class = 'RS_Net_Sales_Proceeds'>
					<th>Net Sales Proceeds</th>
					<th>&nbsp;</th>
					<th>$0</th>
				  </tr>
				  <tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				  </tr>
				  <tr class = 'RS_Total_Cash_Flows'>
					<th>Total Cash Flows</th>
					<th>($26,500,000)</th>
					<th>$1,691,479 </th>
				  </tr>
				</tbody>

				</table>
		 	</div>
			</li>
			</ul>


			<ul class="collapsible" data-collapsible="expandable">
			<li>
			<div class="collapsible-header active">LEVERED ANALYSIS</div>
		  	<div class="collapsible-body">

			<table class = 'striped' id="levered-analysis">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>Year 1</th>
					</tr>
				</thead>
			  <tr>
				<th>Net Operating Income</th>
				<th>&nbsp;</th>
				<th>$1,791,479 </th>
			  </tr>
			  <tr>
				<th>Less: Capital Expenditures</th>
				<th>&nbsp;</th>
				<th>($100,000)</th>
			  </tr>
			  <tr>
				<th>Less: Debt Service</th>
				<th>&nbsp;</th>
				<th>($947,375)</th>
			  </tr>
			  <tr>
				<th>Net Cash Flow from Operations</th>
				<th>&nbsp;</th>
				<th>$744,104 </th>
			  </tr>
			  <tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			  </tr>
			  <tr>
				<th>Gross Sale Proceeds</th>
				<th>&nbsp;</th>
				<th>$0</th>
			  </tr>
			  <tr>
				<th>Sales Costs</th>
				<th>&nbsp;</th>
				<th>$0</th>
			  </tr>
			  <tr>
				<th>Less: Outstanding Mortgage</th>
				<th>&nbsp;</th>
				<th>$0</th>
			  </tr>
			  <tr>
				<th>Net Sales Proceeds</th>
				<th>&nbsp;</th>
				<th>$0</th>
			  </tr>
			  <tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			  </tr>
			  <tr>
				<th>Net Cash Flow from Operations</th>
				<th>&nbsp;</th>
				<th>$744,104 </th>
			  </tr>
			  <tr>
				<th>Net Sales Proceeds</th>
				<th>&nbsp;</th>
				<th>$0</th>
			  </tr>
			  <tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			  </tr>
			  <tr>
				<th>Total Cash Flows</th>
				<th>($9,275,000)</th>
				<th>$744,104 </th>
			  </tr>
			</table>
		</div>
	</div> <!-- End Row -->

			</div>
			</li>
			</ul>


	</form>
  </div>
  </li>
</ul>

{% endblock returns_summary %}
