{% extends "base.html" %}
{% block title %}Returns Summary{% endblock %}
{%block tables %}
<table id="unlevered">
  <tr>
    <td>Unlevered IRR</td>
    <td>9.00%</td>
  </tr>
  <tr>
    <td>Unlevered Equity Multiple</td>
    <td>2.01</td>
  </tr>
</table>
<table id ="unlevered-irr-partition">
  <tr>
    <th>IRR Partition</th>
    <th>%</th>
    <th>$</th>
  </tr>
  <tr>
    <td>IRR from Cash Flow</td>
    <td>46.28%</td>
    <td>$12,265,012 </td>
  </tr>
  <tr>
    <td>IRR from Reversion/Sale</td>
    <td>53.72%</td>
    <td>$14,234,988 </td>
  </tr>
  <tr>
    <td>Total</td>
    <td>100.00%</td>
    <td>$26,500,000 </td>
  </tr>
<table id ="levered">
  <tr>
    <td>Levered IRR</td>
    <td>14.15%</td>
  </tr>
  <tr>
    <td>Levered Equity Multiple</td>
    <td>2.86</td>
  </tr>
</table>
<table id ="levered-irr-partition">
  <tr>
    <th>IRR Partition</th>
    <th>%</th>
    <th>$</th>
  </tr>
  <tr>
    <td>IRR from Cash Flow</td>
    <td>52.69%</td>
    <td>$4,887,271 </td>
  </tr>
  <tr>
    <td>IRR from Reversion/Sale</td>
    <td>47.31%</td>
    <td>$4,387,729 </td>
  </tr>
  <tr>
    <td>Total</td>
    <td>100.00%</td>
    <td>$9,275,000 </td>
  </tr>
</table>
<table id="unlevered-analysis">
  <tr>
      <th>UNLEVERED ANALYSIS</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Year 1</th>
    <th>Year 2</th>
    <th>Year 3</th>
    <th>Year 4</th>
    <th>Year 5</th>
    <th>Year 6</th>
    <th>Year 7</th>
    <th>Year 8</th>
    <th>Year 9</th>
    <th>Year 10</th>
  </tr>
  <tr>
    <td>Net Operating Income</td>
    <td>$1,791,479 </td>
    <td>$1,845,223</td>
    <td>$1,900,580</td>
    <td>$1,957,597</td>
    <td>$2,016,325</td>
    <td>$2,076,815</td>
    <td>$2,139,120</td>
    <td>$2,203,293</td>
    <td>$2,269,392</td>
    <td>$2,337,474</td>
  </tr>
  <tr>
    <td>Less: Capital Expenditures</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
    <td>($100,000)</td>
  </tr>
  <tr>
    <td>Net Cash Flow from Operations</td>
    <td>$1,691,479 </td>
    <td>$1,745,223 </td>
    <td>$1,800,580 </td>
    <td>$1,857,597 </td>
    <td>$1,916,325 </td>
    <td>$1,976,815 </td>
    <td>$2,039,120 </td>
    <td>$2,103,293 </td>
    <td>$2,169,392 </td>
    <td>$2,237,474 </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Gross Sale Proceeds</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$34,394,257 </td>
  </tr>
  <tr>
    <td>Sales Costs</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>($687,885)</td>
  </tr>
  <tr>
    <td>Net Sales Proceeds</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$33,706,372</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Net Cash Flow from Operations</td>
    <td>$1,691,479 </td>
    <td>$1,745,223 </td>
    <td>$1,800,580 </td>
    <td>$1,857,597 </td>
    <td>$1,916,325 </td>
    <td>$1,976,815 </td>
    <td>$2,039,120 </td>
    <td>$2,103,293 </td>
    <td>$2,169,392 </td>
    <td>$2,237,474 </td>
  </tr>
  <tr>
    <td>Net Sales Proceeds</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$0</td>
    <td>$33,706,372</td>
  </tr>
</table>
{%endblock%}
