{% block save_model %}

<!-- Modal Trigger -->
Test text
<a class="btn modal-trigger" href="#modal1">Save Data</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <form>
    <input type ="text" name="save_name" id = "save_name" placeholder = "Name of save">
    </form>
  </div>
  <div class="modal-footer">
    <button id = "save_input" href="/savedata" class=" modal-action modal-close waves-effect waves-green btn-flat" type='submit'>Save</button>
  </div>
</div>

{% endblock save_model %}